:root{

    /* primary clr */
    --color-primary-Red: hsl(0, 78%, 62%);
    --color-primary-Cyan: hsl(180, 62%, 55%);
    --color-primary-Orange: hsl(34, 97%, 64%);
    --color-primary-Blue: hsl(212, 86%, 64%);

    /* Neutral clr */
    --color-neutral-Grey-400: hsl(212, 6%, 44%);
    --color-neutral-Grey-500: hsl(234, 12%, 34%);
    --color-neutral-White: hsl(0, 0%, 100%);


    /* font */
    --ff-genral: serif;


    /* font-weight */
    --fw-small: 200;
    --fw-regular: 400;
    --fw-bold: 600;

    /* font-size */
    --fs-general: 0.9375rem;

}

    .attribution {
       font-size: 11px; text-align: center; 
      }
      
    .attribution a {
       color: hsl(228, 45%, 44%); 
    }


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

*{
  padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-general);
    font-weight: var(--fw-regular);
    background-color: var(--color-neutral-White);
}

.container {
        max-width: 1100px;
        margin: 0 auto;
    }

.page__head,.page__firstpara,.page__secondpara {
  text-align: center;
}

.page__firstpara {
  font-family: "Poppins", sans-serif;
  font-weight: var(--fw-small);
  font-size: 1.9rem;
  font-style: normal;
}

.page__head h1 {
    font-weight: var(--fw-regular);
}

.page__secondpara {
    font-weight: var(--fw-regular);
    font-size: var(--fs-general);
    max-width: 550px;
    margin: 0 auto 70px auto;
    color: var(--color-neutral-Grey-500);
}

.flex__items {
    background-color: var(--color-neutral-White);
    margin: 0 auto;
    width: 21rem;
    padding: 20px;
    margin-block: 2rem;
    border-radius: 5px;
    height: 270px;
    box-shadow: 0 5px 18px rgba(0,0,0,0.20);
    position: relative;
}

.flex__items h2 {
  font-weight: 450;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.flex__items p {
  font-size: var(--fs-general);
  font-weight: var(--fw-regular);
}

.flex__item1 { 
  border-top: 4px solid var(--color-primary-Cyan); 
}

.flex__item2 { 
  border-top: 4px solid var(--color-primary-Red); 
}

.flex__item3 { 
  border-top: 4px solid var(--color-primary-Orange); 
}

.flex__item4 { 
  border-top: 4px solid var(--color-primary-Blue); 
}

.icon {
  position: absolute;
  right: 14px;
  bottom: 10px;
  margin-bottom: 2rem;
  margin-right: 5px;
}


@media (min-width: 600px) {
    .flex__group {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    } 

    .page__secondpara {
      margin-bottom: 30px;
    }

    .flex__items {
      margin-block: 2rem;
    }

    .flex__group > div {
      flex: 1;
    }

}

@media (max-width: 900px) {
  .flex__group {
    display: block;
  }

}

